<div class="containers-div">
    <div class="col-11  job-detail">
        <div>
          <img [src]="jobDetails.image ? jobDetails.image:'assets/Home/calendar.png'" style="width: 4rem; height: 4rem;">
        </div>
        <div>
            <span class="text-bolder">{{jobDetails.jobName}}</span>
            <br>
            <span class="text-bold">{{jobDetails.company}}</span>
            <br>
            <div class="details">
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">location_on</span>
                  <span>{{jobDetails.city}}</span>
                </div>
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">schedule</span>
                  <span>{{jobDetails.jobType}}</span>
                </div>
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">work_history</span>
                  <span>{{jobDetails.jobExperience < 2 ? 'Fresher' : 'Experience' }}</span>
                </div>
              </div>
            
        </div>
    </div>
    <div>
        <h4>Description</h4>
        <span>
            <strong>Experience</strong> :  {{jobDetails.jobExperience}} Year
        </span>

        <br>
        <div>
          @if(jobDetails.skils.length > 0){
            <strong>Skills :</strong>
          @for(i of jobDetails.skils; track i){
            <span>{{i}}
              @if (i !== jobDetails.skils[jobDetails.skils.length - 1]) {, }
            </span>
          }
        }
        </div>
        <span>
            {{jobDetails.description}}
        </span>
    </div>
    <div>
        @if(jobDetails.interviewType == 'Walk-In'){
            <h4>Walk-in interview on {{jobDetails.jobDetails}}</h4>
        }
        @else{
            @switch(getLinkType(jobDetails.link)) {
                @case('email') {
                  <h4>Share your resume by email</h4>
                }
                @case('mobile') {
                  <h4>Call HR at {{ jobDetails.link }}</h4>
                }
                @default {
                  <h4>Apply via Website</h4>
                  <button>Click here</button>
                }
              }
              
        }
    </div>
    <div class="suggestions">
      @for( job of suggestion; track job){
        <div class="job-suggestion borderss">
          <div>
            <img [src]="job.image ? job.image:'assets/Home/calendar.png'" style="width: 3.5rem; height: 3.5rem;">
          </div>
          <div style="width: 160px;">
              <span class="text-bolder">{{job.jobName}}</span>
              <br>
              <span class="text-bold">{{job.company}}</span>
              <br>
              <div class="details">
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">location_on</span>
                  <span>{{job.location}}</span>
                </div>
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">schedule</span>
                  <span>{{job.jobType}}</span>
                </div>
                <div class="d-flex align-items-center gap-1">
                  <span class="material-symbols-outlined" style="font-size: 1rem; color:#00B074 ;">work_history</span>
                  <span>{{job.jobExperience < 2 ? 'Fresher' : 'Experience' }}</span>
                </div>
              </div>
              
          </div>
        </div>
      }
    </div>
    
</div>