/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'assets/style/particals';

body{
    padding: 1rem 2rem;
    @include mQ(500px){
        padding: 1rem 0.5rem;
    }
    overflow-x: hidden;
}